:host {
    box-sizing: border-box;
    height:100%;
    display:flex;
    flex-direction: column;
    padding:20px;
    background-color:goldenrod;
}

race-controls {
    flex:0 1 auto;
}

rower-list {
    flex:1 1 auto;
}