:host {
    flex:1;
    flex-grow: 1;
    box-sizing: border-box;
    margin:10px;
    display:flex;
    flex-direction: column;
    height: 100%;
    border-radius:1px;
    background-color:rgba(0,0,0,0.1);
    font-family: 'Segoe UI';
    font-size: 30pt;
}

/* Title Bar*/
.title-bar {
    background-color:green;
    text-transform: uppercase;
    margin:0px;
    display:flex;
    justify-content:space-between;
}

.remove {
    padding-left:20px;
    padding-right:20px;
    cursor:pointer;
}

/* Body */
.body {
    display:flex;
    height:100%;
}

/* Rower Data */
.rowerdata {
    padding:10px;
    flex:1;
    max-width:100px;
    text-align: center;
}

.rowerdata .value {
    font-weight:bold;
}

.rowerdata .label {
    font-size:12pt;
    margin-top:0px;
}

stroke-graph {
    height:40px;
}

/* Course */
.course {
    flex:3;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.course > .icon {
    flex:0;
}