<div class='title-bar'>
    <div class="name">
        {{rower.name}}
    </div>
    <div class="remove"><img src="/app/rower.component/remove.png" alt="close"></div>
</div>
<div class="body">
    <div class="dashboard">
        <div>
            <stroke-graph [strokeRates]="rower.strokeRates"></stroke-graph>
        </div>
    </div>
    <div class="course">
        <div [style.flex]="raceService.raceDistance - rower.distance"></div>
        <div class="icon"><img src="/app/rower.component/rowboat.png"/></div>
        <div [style.flex]="rower.distance"></div>
    </div>
</div>