:host {
    flex:1;
    flex-grow: 1;
    box-sizing: border-box;
    margin:10px;
    display:flex;
    flex-direction: column;
    border-radius:1px;
    padding:5px;
    background-color:rgba(0,0,0,0.1);
    border:2px dashed gray;
}

div {
    font-family: 'Segoe UI';
    font-size: 30pt;
}

.flex {
    display:flex;
}

.flex > div {
    flex-grow:1;
}

.column-flex {
    flex-direction: column;
}

.row-flex {
    align-items:center;
}

.row-flex > div {
    text-align: center;
}

.row-flex > div:first-child {
    text-align:left;
}

.row-flex > div:last-child {
    text-align:right;
}

.title-bar {
    background-color:green;
    text-transform: uppercase;    
}

.visual {
    display:flex;
}

.visual > div {
    height:20px;
}

.visual .distance {
    background-color:green;
}
.visual .remaining {
    background-color:white;
}