:host {
    flex:1;
    box-sizing: border-box;
    margin:10px;
    display:flex;
    flex-direction: column;
    background-color:rgba(0,0,0,0.1);
    font-family: 'Segoe UI';
    font-size: 30pt;
}

/* Title Bar*/
.title-bar {
    background-color:green;
    text-transform: uppercase;
    margin:0px;
    display:flex;
    justify-content:space-between;
    flex:0 1;
}

.remove {
    padding-left:20px;
    padding-right:20px;
    cursor:pointer;
}

/* Body */
.body {
    display:flex;
    flex:1;
}

/* Rower Data */
.rowerdata {
    padding:10px;
    flex:1;
    max-width:100px;
    text-align: center;
    background-color:rgba(255,255,255,0.3);
}

.rowerdata .value {
    font-weight:bold;
    height:60px;
    background-color: rgba(255,255,255,0.5);
}

.rowerdata .label {
    font-size:12pt;
    margin-top:0px;
}

.rowerdata .clock .value{
    font-size:17pt;
    display:flex;
    align-items: center;
    justify-content: center;
}

span.units {
    font-size:12pt;
}

value-graph {
    height:40px;
}

/* Course */
.course {
    flex:3;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.course > .icon {
    flex:0;
}