:host {
    flex:1;
    flex-grow: 1;
    box-sizing: border-box;
    margin:10px;
    display:flex;
    flex-direction: column;
    border-radius:1px;
    background-color:rgba(0,0,0,0.1);
    font-family: 'Segoe UI';
    font-size: 30pt;
}

/* Title Bar*/
.title-bar {
    background-color:green;
    text-transform: uppercase;
    margin:0px;
    display:flex;
    justify-content:space-between;
}

.remove {
    padding-left:20px;
    padding-right:20px;
}

/* Body */
.body {
    display:flex;
    height:100%;
}

/* Dashboard */
.dashboard {
    flex:1;
    border:1px dashed gray;
}

stroke-graph {
    height:40px;
}

/* Course */
.course {
    flex:3;
    border:1px dashed gray;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.course > .icon {
    flex:0;
}