<div class='title-bar flex row-flex'>
    <div class="name">
        {{rower.name}}
    </div>
    <div class="place"></div>
</div>
<div class='flex row-flex'>
    <div>{{rower.strokeRates[0]}}</div>
    <div>{{rower.caloriesPerMinute}}</div>
</div>
<div class="visual">
    <div [style.flexGrow]="rower.distance" class="distance"></div>
    <div [style.flexGrow]="raceService.raceDistance - rower.distance" class="remaining"></div>
</div>
<div class='flex row-flex'>
    <div>{{rower.distance}}</div>
    <div>{{rower.elapsedTime}}</div>
    <div>{{raceService.raceDistance - rower.distance}}</div>
</div>